@model IEnumerable<WebApplication.Models.LotoNumber>

@{
    ViewData["Title"] = "Choose Numbers";
}

<h2>InitLotoNumbers</h2>
<p>
    @foreach (var item in Model)
    {
        <input type="submit" value=" @Html.DisplayFor(modelItem => item.StringValue)" class="btn btn-primary" style=" width:100px; height:100px; background-color:@item.Color " onclick="window.location.href = '@Url.Action("OnBtnClick", "LotoNumbers", item)'" />
    }
</p>